<div class="home-page">
  <div class="jumbotron mt-1 clearfix">
    <div class="col-sm-12 col-md-3">
      <img class="img-responsive" src="/assets/images/logo-front-page.png" />
    </div>

    <div class="col-sm-12 col-md-9 mt-1">
      <h2>Welcome to the Daily Tech News Show Archive</h2>
      <p>Your Dedicated Repository for DTNS episodes, people, picks, and topics.</p>
    </div>
  </div>

  <p class="h4">Here are some of our latest episodes:</p>
  <div class="card-deck">
    {{#each latestEpisodes as |episode|}}
      {{episode-card episode=episode showReviewFlag=false}}
    {{/each}}
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <ul class="list-group">
        <li class="list-group-item h4 bg-primary">
          <div class="list-group-heading">Archive Statistics</div>
        </li>
        {{#link-to 'episodes.index' tagName='a' classNames='list-group-item stat'}}
          <div class="field-name">Number of Episodes</div>
          <div class="value">{{format-number stats.episodesCount}}</div>
        {{/link-to}}

        {{#link-to 'people.index' tagName='a' classNames='list-group-item stat'}}
          <div class="field-name">Number of People</div>
          <div class="value">{{format-number stats.peopleCount}}</div>
        {{/link-to}}

        {{#link-to 'picks.index' tagName='a' classNames='list-group-item stat'}}
          <div class="field-name">Number of Picks</div>
          <div class="value">{{format-number stats.picksCount}}</div>
        {{/link-to}}

        {{#link-to 'topics.index' tagName='a' classNames='list-group-item stat'}}
          <div class="field-name">Number of Topics</div>
          <div class="value">{{format-number stats.topicsCount}}</div>
        {{/link-to}}
      </ul>
    </div>

    <div class="col-sm-12 col-md-6">
      <ul class="list-group">
        <li class="list-group-item h4 bg-primary">
          <div class="list-group-heading">Patreon Statistics</div>
        </li>
        <a href="{{patreonURL}}" target="_blank" class="list-group-item stat">
          <div class="field-name">Number of Patrons</div>
          <div class="value">{{format-number stats.patronCount}}</div>
        </a>

        <a href="{{patreonURL}}" target="_blank" class="list-group-item stat">
          <div class="field-name">Amount Pledged Each Month</div>
          <div class="value">{{format-number stats.totalPledged style='currency' currency='USD' minimumFractionDigits=0}}</div>
        </a>

        <a href="{{patreonURL}}" target="_blank" class="list-group-item stat">
          <div class="field-name">Amount to Next Goal</div>
          <div class="value">{{format-number stats.amountToNextGoal style='currency' currency='USD' minimumFractionDigits=0}}</div>
        </a>

        <li class="list-group-item">
          <div class="list-group-footer">
            <a href="https://www.patreon.com/bePatron?u=39956" target="_blank" style="text-align: center; display: block">Support the show!</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
