<form class="form-inline">
  {{link-to 'Back to Episodes' 'episodes.index' tagName='button' classNames='btn btn-success'}}

  {{#if session.isAuthenticated}}
    {{link-to (concat 'Edit Episode #' model.episodeNumber) 'episode.edit' model.id tagName='button' classNames='btn btn-success'}}
  {{/if}}
</form>

<div class="row">
  <h2 class="col-xs-12 text-align-sm">#{{model.displayName}}</h2>
  <div class="col-xs-12 col-sm-6 col-sm-push-6 mb-1">
    {{#if model.youtubeId}}
      <div class="embed-responsive embed-responsive-16by9">
        {{ember-youtube ytid=model.youtubeId playerVars=playerVars classNames='embed-responsive-item'}}
      </div>
    {{else}}
      <img width="100%" src="/assets/images/no-episode-available.jpg" />
    {{/if}}
  </div>
  <div class="col-xs-12 col-sm-6 col-sm-pull-6">

    <ul class="list-group">
      <li class="list-group-item">
        <div class="field-name">Air Date</div>
        <div class="value">{{moment-format model.airDate dateFormat}}</div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Show Notes</div>
        <div class="value {{unless model.showNotesURL 'text-muted'}}">{{showNotesLink}}</div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Download Link</div>
        <div class="value {{unless model.downloadURL 'text-muted'}}">{{downloadLink}}</div>
      </li>


      <li class="list-group-item">
        <div class="field-name">Hosts</div>
        <div class="value">
          {{person-link-collection people=model.hosts}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Contributors</div>
        <div class="value">
          {{person-link-collection people=model.contributors}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Guests</div>
        <div class="value">
          {{person-link-collection people=model.guests}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Topics</div>
        <div class="value">
          {{topic-link-collection topics=model.topics}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Picks</div>
        <div class="value">
          {{pick-link-collection picks=model.picks}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Created At</div>
        <div class="value">
          {{moment-format model.createdAt dateTimeFormat}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Updated At</div>
        <div class="value">
          {{moment-format model.updatedAt dateTimeFormat}}
        </div>
      </li>
    </ul>
  </div>
</div>
