<form class="form-inline">
  {{input type="text" value=filterTerm placeholder="Search..." classNames="form-control"}}

  {{#x-select classNames='form-control' action='updateFilterField' value=filterField as |xs|}}
    {{#each filterFields as |field|}}
      {{#xs.option value=field.value}}{{field.label}}{{/xs.option}}
    {{/each}}
  {{/x-select}}

  {{!-- Disable pick creation for now --}}
  {{!-- {{#if session.isAuthenticated}}
    {{link-to 'Add Pick' 'picks.new' class="btn btn-success"}}
  {{/if}} --}}
</form>

{{#if settings.picksShowGrid}}
  <div class="card-deck">
    {{#each filteredPicks as |pick|}}
      {{pick-card
        model=pick
        filterTerm=filterTerm
        filterField=filterField
      }}
    {{/each}}
  </div>
{{else}}
  {{picks-table picks=model}}
{{/if}}
