{{#if session.isAuthenticated}}
  {{link-to 'Edit' 'person.edit' person.id classNames='text-center edit-link'}}
{{/if}}

{{#link-to 'person' person tagName='div' classNames='card-img-top'}}
  <img src="{{if person.photo person.photo '/assets/images/default-image.png'}}" alt="{{concat 'Photo for ' person.fullName}}"/>
{{/link-to}}

{{#link-to 'person.index' person tagName='div' classNames='card-block'}}
  <h4 class="card-title">
    {{#highlight-filter
      fieldName='fullName'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{person.fullName}}
    {{/highlight-filter}}
  </h4>

  <h6 class="card-subtitle text-muted">
    {{#highlight-filter
      fieldName='title'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{person.title}}
    {{/highlight-filter}}
  </h6>

  <div class="card-text mb-2">
    {{#highlight-filter
      fieldName='description'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{{truncate person.description 140}}}
    {{/highlight-filter}}
  </div>
{{/link-to}}

{{#if person.twitterHandle}}
  <div class="card-footer">
    {{#social-link type='twitter' identifier=person.twitterHandle}}
      <i class="fa fa-twitter" aria-hidden="true"></i>
      @{{#highlight-filter
        fieldName='twitterHandle'
        filterTerm=filterTerm
        filterField=filterField
      }}
        {{person.twitterHandle}}
      {{/highlight-filter}}
    {{/social-link}}
  </div>
{{/if}}