<form class="form-inline">
  {{link-to 'Back to Episodes' 'episodes.index' tagName='button' classNames='btn btn-success'}}
</form>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-push-6">
    {{#if episode.youtubeId}}
      <div class="embed-responsive embed-responsive-16by9">
        {{ember-youtube ytid=model.youtubeId playerVars=playerVars classNames='embed-responsive-item'}}
      </div>
    {{else}}
      <img width="100%" src="/assets/images/no-episode-available.jpg" />
    {{/if}}
  </div>

  {{#bs-form formLayout='horizontal' model=episode classNames='col-xs-12 col-sm-6 col-sm-pull-6' as |form|}}
      {{form.element controlType="text" label="Episode Number" property="episodeNumber"}}
      {{form.element controlType="text" label="Episode Name" property="episodeName"}}
      {{form.element controlType="textarea" label="Description" property="description" rows=5}}
      {{form.element controlType="text" label="Show Notes URL" property="showNotesURL" rows=5}}
      {{form.element controlType="text" label="Youtube URL or ID" property="youtubeId" rows=5}}
      {{#form.element label="Hosts" property="hosts" as |el|}}
        {{#power-select-multiple
          options=possibleHosts
          searchField="fullName"
          selected=episode.hosts
          onchange=(action (mut episode.hosts))
          as |person|
        }}
          <img src="{{if person.photo person.photo}}" />
          <strong>{{person.fullName}}</strong>
        {{/power-select-multiple}}
      {{/form.element}}
      {{#form.element label="Contributors" property="contributors" as |el|}}
        {{#power-select-multiple
          options=possibleContributors
          searchField="fullName"
          selected=episode.contributors
          onchange=(action (mut episode.contributors))
          as |person|
        }}
          <img src="{{if person.photo person.photo}}"/>
          <strong>{{person.fullName}}</strong>
        {{/power-select-multiple}}
      {{/form.element}}
      {{#form.element label="Guests" property="guests" as |el|}}
        {{#power-select-multiple
          options=possibleGuests
          searchField="fullName"
          selected=episode.guests
          onchange=(action (mut episode.guests))
          as |person|
        }}
          <img src="{{if person.photo person.photo}}"/>
          <strong>{{person.fullName}}</strong>
        {{/power-select-multiple}}
      {{/form.element}}
      {{#form.element label="Picks" property="picks" as |el|}}
        {{#power-select-multiple
          options=picks
          searchField="name"
          selected=episode.picks
          onchange=(action (mut episode.picks))
          as |pick|
        }}
          <strong>{{pick.name}}</strong>
        {{/power-select-multiple}}
      {{/form.element}}
      {{#form.element label="Topics" property="topics" as |el|}}
        {{#power-select-multiple
          options=topics
          closeOnSelect=false
          searchField="name"
          selected=model.topics
          onchange=(action 'updateUnlessFull')
          as |topic|
        }}
          <strong>{{topic.name}}</strong>
        {{/power-select-multiple}}
      {{/form.element}}
      {{#form.element label="Air Date" property="airDate" as |el|}}
        {{pikaday-input
          value=model.airDate
          format="MM/DD/YYYY"
          firstDay=0
          maxDate=currDate
          classNames='form-control'
          onSelection=(action 'updateAirDate')
        }}
      {{/form.element}}
      {{form.element controlType="text" readonly=true label="Date Created" property="createdAt"}}
      {{form.element controlType="text" readonly=true label="Date Updated" property="updatedAt"}}
      {{form.element controlType="checkbox" label="Requires Review" property="requiresReview"}}
      <div class="form-group">
        <div class="col-md-8 col-md-push-4">
          <div class="alert alert-danger">
            Only turn off "Requires Review" if you are sure that the data for this episode is complete.
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit" {{action 'saveEpisode' episode}}>Save</button>
        <button class="btn btn-danger" type="submit" {{action 'cancelEpisode' episode}}>Cancel</button>
      </div>
  {{/bs-form}}
</div>
