<form class="form-inline">
  {{input type="text" value=filterTerm placeholder="Search..." classNames="form-control"}}
  <select class="form-control">
    {{#each filterFields as |field|}}
      <option value="{{field.value}}">{{field.label}}</option>
    {{/each}}
  </select>

  {{#if session.isAuthenticated}}
    {{link-to 'Add Episode' 'episodes.new' class="btn btn-success"}}
  {{/if}}

  <p style="margin-left: 10px; display: inline-block;margin-bottom: 0;vertical-align: middle;">
    {{#if settings.episodesShowGrid}}
      <span class="glyphicon glyphicon-warning-sign" style="background: #ec0; padding: 7px; border-radius: 5px;" aria-hidden="true"></span>
    {{else}}
      <span style="border: 1px solid #ddd; width: 40px; height: 25px; background: #fcf8e3; display: inline-block; vertical-align: middle"></span>
    {{/if}}
    : May be missing some info
  </p>
</form>

{{episodes-display
  episodes=filteredEpisodes
  filterTerm=filterTerm
  filterField=filterField
}}
