<form class="form-inline">
  {{input type="text" value=filterTerm placeholder="Search..." classNames="form-control"}}
  <select class="form-control">
    {{#each filterFields as |field|}}
      <option value="{{field.value}}">{{field.label}}</option>
    {{/each}}
  </select>

  {{#if session.isAuthenticated}}
    {{link-to 'Add Episode' 'episodes.new' class="btn btn-success"}}
  {{/if}}

  <p class="missing-info">
    {{#if settings.episodesShowGrid}}
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    {{else}}
      <span class="color-box"></span>
    {{/if}}
    : May be missing some info
  </p>
</form>

{{episodes-display
  episodes=filteredEpisodes
  filterTerm=filterTerm
  filterField=filterField
}}
