{{#if (and episode.requiresReview showReviewFlag)}}
  <div class="corner-ribbon">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  </div>
{{/if}}

{{#if episode.youtubeId}}
  <div class="embed-responsive embed-responsive-16by9 card-img-top">
  {{#if showVideo}}
      {{ember-youtube ytid=episode.youtubeId playerVars=playerVars width='100%' height=147 classNames='embed-responsive-item'}}
  {{else}}
    <img class="embed-responsive-item" src="/assets/images/episode-play.jpg" {{action 'playVideo'}}/>
  {{/if}}
  </div>
{{else}}
  <img class="card-img-top" src="/assets/images/no-episode-available.jpg" />
{{/if}}

{{#link-to 'episode.index' episode tagName='div' classNames='card-block'}}
  <h4 class="card-title">
    {{#highlight-filter
      fieldName='episodeNumber'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{episode.episodeNumber}}:
    {{/highlight-filter}}

    {{#highlight-filter
      fieldName='episodeName'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{truncate episode.episodeName 35}}
    {{/highlight-filter}}
  </h4>

  <h6 class="card-subtitle text-muted">
    {{#highlight-filter
      fieldName='airDate'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{moment-format episode.airDate settings.globalDateFormat}}
    {{/highlight-filter}}
  </h6>

  <div class="card-text mb-2">
    {{#highlight-filter
      fieldName='description'
      filterTerm=filterTerm
      filterField=filterField
    }}
      {{{truncate episode.description 140}}}
    {{/highlight-filter}}
  </div>
{{/link-to}}

<div class="card-footer">
  Topics:
  {{#each episode.topics as |topic|}}
    {{topic-label model=topic}}
  {{else}}
    <span class="text-muted">none</span>
  {{/each}}
</div>
