<form class="form-inline">
  {{link-to 'Back to People' 'people.index' tagName='button' classNames='btn btn-success'}}

  {{#if session.isAuthenticated}}
    {{link-to (concat 'Edit ' model.fullName) 'person.edit' model.id tagName='button' classNames='btn btn-success'}}
  {{/if}}
</form>

<div class="row">
  <h1 class="col-xs-12 text-align-sm">{{model.fullName}}</h1>
  <div class="col-xs-12 col-sm-5 col-sm-push-7 mb-1">
    <img src="{{if model.photo model.photo '/assets/images/default-image.png'}}" alt={{concat 'Photo for ' model.fullName}} />
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-pull-5">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="field-name">Title/Role</div>
        <div class="value">{{model.title}}</div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Description</div>
        <div class="value">{{model.description}}</div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Twitter Handle</div>
        <div class="value">
          {{#social-link type='twitter' identifier=model.twitterHandle}}
            <i class="twitter icon"></i>
            @{{model.twitterHandle}}
          {{/social-link}}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Episodes as Host</div>
        <div class="value">
          {{episode-link-collection
            episodes=model.episodesAsHost
            fullName=model.fullName
          }}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Episodes as Contributor</div>
        <div class="value">
          {{episode-link-collection
            episodes=model.episodesAsContributor
            fullName=model.fullName
          }}
        </div>
      </li>

      <li class="list-group-item">
        <div class="field-name">Episodes as Guest</div>
        <div class="value">
          {{episode-link-collection
            episodes=model.episodesAsGuest
            fullName=model.fullName
          }}
        </div>
      </li>
    </ul>
  </div>
</div>
